<menu class="social-media-share">
    <a href="http://www.twitter.com/ryanstenhouse" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="http://www.flickr.com/photos/ryanstenhouse/" class="icon-flickr" rel="external" title="My Flickr"></a>
    <a href="http://uk.linkedin.com/in/ryanstenhouse/" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="https://github.com/hhry" class="icon-github" rel="external" title="My GitHub"></a>
</menu>